<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suwonsmartapp.tourlist">

    <!-- 도전.06 웹브라우저 화면 구성 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 구글 맵을 위해 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 갤러리에서 이미지 불러오기 위해 추가 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-library android:name="com.google.android.maps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".InputActivity"
            android:label="@string/title_activity_input" />
        <activity
            android:name=".list.ListActivity"
            android:label="@string/title_activity_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results" />
        <activity
            android:name=".SettingsActivity"
            android:label="preference_setting">
        </activity>

        <!-- Google Map 사용을 위해 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAl0NO9ThZ7wOk_pJp-fLH39_xFUrasuA4" />

        <activity
            android:name=".mapalbum.MapAlbumActivity"
            android:label="@string/title_activity_mapalbum" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".imageviewer.ImageViewer" />

    </application>

</manifest>
